
Here are few things that you need to know before using custom email template in django PasswordResetView.

django uses registration/password_reset_email.html as default file for email content for password reset unless you defined/provided it explicitly in PasswordResetView's html_email_template_name param value.

Django allows jinja templating inside the email template to modify it based on your requirement.

PasswordResetView provides ready to use context needed for password reset view out of the box. Such as user instance to fill in any user details, site_name, token, etc.

Here is a sample of the email template using context via django templating.
{% load i18n %}
    
{% autoescape off %}
You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}