{% load get_group %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- <script src="{% static 'main/navBar.js' %}"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'main/navBar.css' %}"> -->
    <link rel="stylesheet" href="{% static 'main/layout_style_new.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<!-- owlCarousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script id="crousal" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <title></title>
  </head>
  <body>
    
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#">E-farm</h1></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <i class="bi bi-list mobile-nav-toggle"></i>
        <ul>
          <li><a href="{% url 'main:home' %}" class="mr-2 text-light">Home</a></li>
          
          <li class="dropdown"><a class="nav-link scrollto active" href="#">Ready Items</a>
            <ul>
              
                
                  {% for s in supcategory %}  
                <li class="dropdown"><a href="{% url 'main:supcategory' s.slug %}">{{s.name}}</a>
                  <ul>
                    {% for c in s.sups.all %}
                     <li class="dropdown"><a href="{% url 'main:category' c.slug %}"> {{c.name}}</a>
                      
                      <!-- <ul>
                        {% for z in c.subs.all %} 
                        <li class="dropdown"><a href="{% url 'main:subcategory' z.slug %}"> {{z.title}}</a></li>
                        
                        
                        {% endfor %}
                      </ul> -->
                      
                  </li>
                  {% endfor %}
      
            </ul>
            </li>
            {% endfor %}
          </ul>
              </li>
            </ul>
            {% if user.is_authenticated %}
            {% if request.user.is_superuser %}   
                    <li><a href="{% url 'main:admin_dashboard2' %}" class="mr-2 text-light">DashBoard</a></li>
                    <!-- <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="getstarted scrollto">Logout</button>
                        </form>
                    </li>   -->
                    
                {% else %}
                {% endif %} 
                    <li><a href="{% url 'main:cart' %}" class="mr-2 text-light">My Cart🛒</a></li>
                    <li><a href="{% url 'main:order_details' %}" class="mr-2 text-light">Your Orders</a></li>
                    <!-- {% if not request.user.is_superuser %}       
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="getstarted scrollto">Logout</button>
                        </form>
                    </li>
                    {% endif %}  -->
                    
                    {% else %}
                <li><a href="{% url 'accounts:login' %}" class="mr-2 text-light">Login</a></li>
                <li><a href="{% url 'accounts:signup' %}" class="mr-2 text-light">SignUp</a></li>
                
                    {% endif %}
                    
            {% if user.is_authenticated %}
                {% if request.user|has_group:"farmer"%}
                 
                    <li><a href="{% url 'main:admin_dashboard' %}" class="mr-2 text-light">DashBoard</a></li>
                    
                    
                {% endif %}
                
            {% endif %} 
            {% if user.is_authenticated %}
            <li>
              <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="getstarted scrollto">Logout</button>
              </form>
          </li>
            {% endif %} 
          </li>
          <!-- <li class="dropdown"><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li class="dropdown"><a class="getstarted scrollto" href="#about">Get Started</a></li> -->


          {% for profile in profile %}
          
          <li style="padding: 10px;">
            <a href="{% url 'accounts:profile' %}" class="mr-2 text-light">
              <img height='60' width="60" class="img-responsive" src="{{profile.image.url}}"> {{profile.user}} <br> </a> 
           {% endfor %}
          </li>
          <form action="{% url 'main:search' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
            <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
          </form>
          <!-- <form  class="form-inline my-2 my-lg-0" action="{% url 'main:search' %}" method="get" >
            <div class="form-group">
            <input name="q" type="text" class="form-control" placeholder="search" required />
            <div class="form-group-append">
              {% csrf_token %}
              <button class="btn btn-dark" type="submit" id="button-addon2">Search</button> -->
        </ul>
      </div> <!-- navbar-collapse.// -->
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <form  class="form-inline my-2 my-lg-0" action="/search" >{% csrf_token %}
          <div class="input-group">
          <input name="q" type="text" class="form-control" placeholder="search" />
          <div class="input-group-append">
            <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
          </div> -->
        </div>
      
        
  
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  
    
      {% block content %}{% endblock %}
    <!-- Optional JavaScript; choose one of the two! -->
    
  
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>E - FARM
          </h6>
          <p>
            We serve all types of Vegetables,fruits,crops
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="supcategories/fabric" class="text-reset">Fabric</a>
          </p>
          <p>
            <a href="supcategories/yarn" class="text-reset">Yarn</a>
          </p>
          <p>
            <a href="supcategories/apparel" class="text-reset">Apparel</a>
          </p>
          
        </div> -->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="{% url 'accounts:login' %}" class="text-reset">Login</a>
          </p>
          <p>
            <a href="{% url 'accounts:signup' %}" class="text-reset">Signup</a>
          </p>
          <p>
            <a href="{% url 'main:home' %}" class="text-reset">Home</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Agra, UP</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="/">E - FARM</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="http://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>
{% load sweetify %}
{% sweetify %}