{% extends "main/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="padding-top:12% ;" class="container"></div>
<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> Update Profile Details</legend>
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add And Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}